# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
backend.tf

# Env / secrets
.env
*.pem
*.key

# OS / editor
.DS_Store
Thumbs.db
